.wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
}
