@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://gw.alipayobjects.com/os/k/webfont/style.css");

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"),
    url("https://github.com/floriankarsten/space-grotesk/raw/master/fonts/ttf/SpaceGrotesk%5Bwght%5D.ttf")
      format("truetype"),
    url("/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-display: fallback;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", SF Pro, Inter, Avenir, Helvetica, Arial,
    sans-serif, "LXGW WenKai Lite" -apple-system;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
