@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "xwwk";
  src: url(/xwwk.ttf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: SF Pro, Inter, Avenir, Helvetica, Arial, sans-serif, xwwk;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
